<div class="flex items-center justify-center h-screen w-screen bg-amber-50">
    <!-- show below container if not connected to session -->
    <ng-container *ngIf="!connected; else connectedTemplate">
        <div class="absolute top-4 right-4">
            <a href="/settings" class="focus:outline-none text-3xl cursor-pointer text-gray-500">
                <mat-icon>settings</mat-icon>
            </a>
        </div>
        <form [formGroup]="sessionInfo" (ngSubmit)="onSubmit()" class="bg-white p-6 rounded shadow-md w-96">
            <h2 class="text-xl font-bold mb-4 text-center">Enter Session ID</h2>
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700">Session ID</label>
                <input type="text" formControlName="sessionId"
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    required />
            </div>
            <button type="submit"
                class="w-full bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                Connect
            </button>
        </form>
    </ng-container>

    <!-- show below page is connected to session -->
    <ng-template #connectedTemplate>
        <button 
            (click)="leaveSession()"
            class="flex flex-row cursor-pointer justify-center items-center absolute top-4 right-4 bg-red-600 text-white py-2 pl-4 pr-2 rounded-lg hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2"
        >
            Leave Session
            <mat-icon class="ml-1.5 mt-1.5 !text-[1.1em]">logout</mat-icon>
        </button>
        <div class="flex flex-col justify-center items-center h-full w-full">
            <div *ngIf="activeQuestion !== ''" class="flex flex-col items-center mb-20">
                <p class="text-3xl font-semibold mb-2">Professor Says:</p>
                <p class="text-xl">{{ activeQuestion }}</p>
            </div>
            <div class="flex flex-row w-full space-x-25 justify-center">
                <div class="flex flex-col justify-start items-center w-70">
                    <div class="flex flex-row">
                        <h1 class="text-2xl font-semibold mb-10">Session Info</h1>
                        <div>
                            <a href="/settings" class="focus:outline-none ml-1 text-3xl cursor-pointer text-gray-500">
                                <mat-icon>settings</mat-icon>
                            </a>
                        </div>
                    </div>
                    <div class="flex w-full items-center justify-between mb-4">
                        <label class="font-medium">Connected to Session:</label>
                        <p><strong class="text-blue-600">{{ sessionInfo.get('sessionId')?.value}}</strong></p>
                    </div>
                    <div class="flex w-full items-center justify-between mb-4">
                        <label class="font-medium">Streaming Name:</label>
                        <p>{{ name }}</p>
                    </div>
                    <div class="flex w-full items-center justify-between mb-4">
                        <label class="font-medium">ESP IP:</label>
                        <p><strong class="text-blue-600">{{ ip }}</strong></p>
                    </div>
                </div>
                <div class="border-l border-gray-300 h-full"></div>
                <div class="flex flex-col justify-start items-center w-70">
                    <h1 class="text-2xl font-semibold mb-5">Interact</h1>
                    <div *ngIf="currentSpeaker !== ''" class="flex w-full items-center justify-between mb-4">
                        <label class="font-medium">Currently Speaking:</label>
                        <p>{{ currentSpeaker }}</p>
                    </div>
                    <button (click)="toggleStream()"
                        [ngClass]="!micPermission ? 'bg-gray-500 text-white' : (isStreaming ? 'bg-red-500 text-white' : 'bg-green-500 text-white')"
                        [disabled]="!micPermission"
                        class="justify-center items-center pt-15 rounded-full focus:outline-none cursor-pointer w-50 h-50">
                        <mat-icon class="!text-8xl !w-50 !h-50">{{ isStreaming ? 'mic_off' : 'mic' }}</mat-icon>
                    </button>
                    <p *ngIf="!micPermission" class="text-red-500">Mic Permission Denied</p>
                    <p *ngIf="micPermission" class="text-green-500">Mic Permission Granted</p>
                    <div class="mt-7">
                        <button *ngIf="!handRaised" (click)="alertHandMovement('raise')" class="flex flex-row bg-blue-600 text-white py-3 px-3 rounded-lg hover:bg-blue-700"> Raise Hand <mat-icon class="ml-2">pan_tool</mat-icon> </button>
                        <button *ngIf="handRaised" (click)="alertHandMovement('lower')" class="flex flex-row bg-red-600 text-white px-3 py-3 rounded-lg hover:bg-red-700"> Lower Hand <mat-icon class="ml-2">do_not_touch</mat-icon> </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>