<div class="flex flex-col space-y-18 w-screen h-screen justify-start items-center bg-amber-50">
    <p class="text-3xl mt-40">Admin Panel</p>
    <div class="flex flex-row space-x-10">
        <!-- session info, post a question -->
        <div class="flex flex-col justify-center items-center">
            <p class="text-2xl mb-10">Session Info</p>
            <div class="flex w-full items-center justify-between mb-4">
                <label class="font-medium">Session ID:</label>
                <strong class="text-blue-600">{{ adminIP }}</strong>
            </div>
            <div class="flex w-full items-center justify-between mb-4">
                <label class="font-medium">ESP IP:</label>
                <strong class="text-blue-600">{{ espIP }}</strong>
            </div>
            <div>
                <h1 class="text-md font-semibold">Post Question: </h1>
                <form [formGroup]="postQuestion" (ngSubmit)="submitQuestion()" class="flex flex-col space-y-5">
                    <textarea formControlName="question" class="border border-gray-300 rounded-lg p-2 w-60 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    </textarea>
                    <div class="flex flex-row space-x-5">
                        <button type="submit" class="w-20 bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 cursor-pointer">
                            Post
                        </button>
                        <button (click)="clearQuestion()" class="w-20 bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 cursor-pointer">
                            Clear
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="border-l border-gray-300 h-full"></div>
        <!-- connected users -->
        <div class="flex flex-col justify-start items-center">
            <div class="flex flex-row mb-10 space-x-2 justify-center items-center">
               <p class="text-2xl">Connected Users</p>
               <button (click)="getActiveConnections()" class="flex bg-blue-600 text-white justify-center items-center px-1 py-1 rounded-lg hover:bg-blue-700 cursor-pointer">
                    Refresh <mat-icon>refresh</mat-icon> 
                </button>
            </div>
            <div class="relative flex flex-col w-full h-max-90 overflow-scroll text-gray-700 bg-white shadow-md rounded-lg bg-clip-border">
                <table class="w-full text-left table-auto min-w-max text-slate-800">
                    <thead>
                        <tr class="text-slate-500 border-b border-slate-300 bg-slate-50">
                            <th class="p-4">
                                <p class="text-sm leading-none font-normal">
                                    Mic Permission
                                </p>
                            </th>
                            <th class="p-4">
                                <p class="text-sm leading-none font-normal">
                                    Name
                                </p>
                            </th>
                            <th class="p-4">
                                <p class="text-sm leading-none font-normal">
                                    Address
                                </p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of connectedUsers" class="hover:bg-slate-50">
                            <td class="p-4">
                                <input type="checkbox" (click)="toggleMicPermission(user)" [(ngModel)]="user.status" class="form-checkbox h-5 w-5 text-blue-600" />
                            </td>
                            <td class="p-4">
                                <p class="text-sm font-bold">
                                    {{ user.name }}
                                </p>
                            </td>
                            <td class="p-4">
                                <p class="text-sm">
                                    {{ user.address }}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="border-l border-gray-300 h-full"></div>
        <!-- Raised hands queue -->
        <div class="flex flex-col justify-start items-center">
            <div class="flex flex-row mb-10 space-x-2"> 
                <p class="text-2xl">Hands Raised Queue</p>
                <button (click)="clearRaisedHandsQueue()" class="bg-red-600 text-white px-1 py-1 rounded-lg hover:bg-red-700 cursor-pointer">Clear</button>
            </div>
            <div class="flex flex-col w-full items-start">
                <p *ngIf="raisedHands.length === 0">
                    No Hands Raised
                </p>
                <ol class="list-decimal text-lg">
                    <li *ngFor="let student of raisedHands" class="mb-1">
                        {{ student }}
                    </li>
                </ol>
            </div>
        </div>
    </div>


    
    
    
</div>