<div class="flex flex-col space-y-4">
    <div>
        <label class="text-lg font-semibold">Session ID: <strong class="text-blue-600">{{ adminIP }}</strong></label>
    </div>
    <div>
        <label class="text-lg font-semibold">Base Station ID: <strong class="text-blue-600">{{ espIP }}</strong></label>
    </div>
    <div>
        <h1>post a question to all connected students: </h1>
        <form [formGroup]="postQuestion" (ngSubmit)="submitQuestion()" class="flex flex-col">
            <textarea formControlName="question" class="border border-gray-300 rounded-lg p-2 w-60 focus:outline-none focus:ring-2 focus:ring-blue-500">
            </textarea>
            <div class="flex flex-row">
                <button type="submit" class="w-20 bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
                    post
                </button>
                <button (click)="clearQuestion()" class="w-20 bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700">
                    clear
                </button>
            </div>
        </form>
    </div>
    <div class="mt-5">
        <div class="flex justify-start mb-2 ml-2">
            <button (click)="getActiveConnections()" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
                Refresh
            </button>
        </div>
        <table class="table-auto border-collapse border border-gray-300 w-full">
            <thead>
                <tr class="bg-gray-100">
                    <th class="border border-gray-300 px-4 py-2 text-left">Mic Permission</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Name</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of connectedUsers" class="hover:bg-gray-50">
                    <td class="border border-gray-300 px-4 py-2">
                        <input type="checkbox" (click)="toggleMicPermission(user)" [(ngModel)]="user.status" class="form-checkbox h-5 w-5 text-blue-600" />
                    </td>
                    <td class="border border-gray-300 px-4 py-2">
                        <p class="rounded px-2 py-1 w-full"> {{ user.name }} </p>
                    </td>
                    <td class="border border-gray-300 px-4 py-2">
                        <p class="rounded px-2 py-1 w-full"> {{ user.address }} </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Raised hands queue -->
    <div class="flex flex-col">
        <div class="flex flex-row">
            <h2 class="text-lg font-semibold mr-3">Students hands raised:</h2>
            <button (click)="clearRaisedHandsQueue()" class="w-40 bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700"> clear queue </button>
        </div>
        <ol class="list-decimal ml-5">
            <li *ngFor="let student of raisedHands" class="mb-1">
                {{ student }}
            </li>
        </ol>
    </div>
</div>